@font-face {
  font-family: Open Sans;
  font-style: normal;
  src: url("../fonts/open-sans-v18-latin-regular.ttf"); }

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans; }

html, body {
  height: 100%; }

header {
  display: flex;
  background-color: #134013;
  color: #e29f2f;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  margin-bottom: 1em; }

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  color: #325a2f;
  height: 90vh; }

.requestMenu {
  flex-direction: column;
  margin: auto; }
  .requestMenu button {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    border: 2px solid #3b6b38;
    color: #3b6b38;
    background-color: #daeecc;
    font-weight: bold;
    width: 100%; }
  .requestMenu button:hover {
    background-color: #bee1a6; }
  .requestMenu button:focus {
    border: 2px solid #558c2f;
    color: #c4dfc3;
    background-color: #558c2f;
    outline: none; }

.newShopMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .newShopMenu .newShopButton, .newShopMenu .searchButton {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    border: 2px solid #3b6b38;
    color: #3b6b38;
    background-color: #daeecc;
    font-weight: bold; }
  .newShopMenu .newShopButton:hover, .newShopMenu .searchButton:hover {
    background-color: #bee1a6; }
  .newShopMenu .newShopButton:focus, .newShopMenu .searchButton:focus {
    border: 2px solid #558c2f;
    color: #c4dfc3;
    background-color: #558c2f;
    outline: none; }
  .newShopMenu .searchButton:disabled {
    border: 2px solid #83bc80;
    color: #83bc80; }
  .newShopMenu #searchInput {
    border-radius: 0.5em;
    border: 2px solid #3b6b38;
    padding: 0.5em;
    margin-right: 0.5em;
    outline: none; }
  .newShopMenu img {
    height: 12px; }

.newShopContainer {
  display: none;
  border: 2px solid #bee1a6;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0; }
  .newShopContainer h1 {
    margin: 0.25em; }
  .newShopContainer .formRow {
    display: flex;
    justify-content: space-between; }
    .newShopContainer .formRow div {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .newShopContainer .formRow div label {
        margin: 0 0.5em; }
      .newShopContainer .formRow div input {
        margin: 0 0.5em 1em 0.5em;
        border-radius: 0.5em;
        border: 2px solid #3b6b38;
        padding: 0.5em;
        outline: none; }
      .newShopContainer .formRow div small {
        color: red;
        margin: 0 0 0.5em 0.5em; }
  .newShopContainer .formRowSubmit {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .newShopContainer .formRowSubmit #addShopButton {
      margin: 0.5em 0 0.5em 0;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      border: 2px solid #3b6b38;
      color: #3b6b38;
      background-color: #daeecc;
      font-weight: bold;
      margin-right: 0.5em; }
    .newShopContainer .formRowSubmit #addShopButton:hover {
      background-color: #bee1a6; }
    .newShopContainer .formRowSubmit #addShopButton:focus {
      border: 2px solid #558c2f;
      color: #c4dfc3;
      background-color: #558c2f;
      outline: none; }

.shop {
  border: 2px solid #bee1a6;
  box-shadow: 5px 5px rgba(190, 225, 166, 0.5);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0; }
  .shop .shopHeader {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .shop .shopHeader button {
      margin: 0.5em 0 0.5em 0;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      border: 2px solid #3b6b38;
      color: #3b6b38;
      background-color: #daeecc;
      font-weight: bold;
      margin-left: 0.5em; }
    .shop .shopHeader button:hover {
      background-color: #bee1a6; }
    .shop .shopHeader button:focus {
      border: 2px solid #558c2f;
      color: #c4dfc3;
      background-color: #558c2f;
      outline: none; }
  .shop img {
    height: 12px; }
  .shop .shopBody p {
    margin: 0.5em 0; }

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #134013;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 1.5s linear infinite;
  margin: auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
    @keyframes spin; } }
